*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/mogwai
src/mogwaid
src/mogwai-cli
src/mogwai-tx
src/test/test_mogwai
src/qt/test/test_mogwai-qt
src/bench/bench_mogwai

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/mogwai-config.h
src/config/mogwai-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.mogwai
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
mogwai-qt
Mogwai-Qt.app

# Unit-tests
Makefile.test
mogwai-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_mogwai.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libmogwaiconsensus.pc
src/qt/mogwai-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
mogwai-cli
mogwaid
mogwai-qt
make
/.vs/mogwai_dev/v15/ipch/AutoPCH/1333188c5bffc6f2/NET.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/3160dc4a71395262/CHAINPARAMS.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/38fe1207085f8275/RAWTRANSACTION.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/540c490296d7bac/CLIENT.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/914ebc0a5f829129/MISC.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/d7004ccb0a621481/CHAINPARAMS.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/e947803cc22eb4f4/CHAINPARAMSBASE.ipch
/.vs/mogwai_dev/v15/ipch/AutoPCH/f63128dc8787c9f5/RPCWALLET.ipch
/.vs/mogwai_dev/v15/.suo
/.vs/mogwai_dev/v15/Browse.VC.db
/.vs/mogwai_dev/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
